name: Build Docker Image

on:
  push:
    branches:
      - "**"
    tags:
      - "*.*.*"


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        # this creates tags for:
        # - each branch
        # - each tag (full semver tree, i.e. "x", "x.y", and "x.y.z")
        # - each commit hash
        # - "latest" on each release/tag event
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          build-args: |
            VITE_COMMIT_HASH=${{ github.sha }}
            VITE_SHOW_PLACEHOLDER=true
            VITE_TARGET_YEAR=2024
